.body{
    background: #E5E5E5;
    height:100vh;
    width: 100vh;
    max-width: -webkit-fill-available;
}

.dashboard-div{
    background-color: #E5E5E5 ;
}
.body .dashboard{
    /* Dashboard */
padding: 30px 30px;
margin: 20px 20px 20px ;
height: auto;
width: auto;
font-family: Work Sans;
font-style: normal;
font-weight: bolder;
font-size: 60px;
line-height: 28px;
color: #000000;
}

.info-rectangle{
width: auto;
height: 15% ;
padding: 20px;
background: #FFFFFF;
}
.name {
    padding: 10px 10px 0 10px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.4;
    /* line-sp */
    color: #000000;
}
.icon img{
    height: 10vh;
    border-radius: 50%;
}

.money-plceholder{
    font-size: 250%;
}
.button{
    padding: auto;
    justify-content: flex-start;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:5%;
    margin-bottom:0%
}
.description{
padding: 10px 10px 0 0;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
font-size: 250%;
line-height: 0.4;
text-align: left;
/* identical to box height */


color: #999999;
}

.transaction-class{

background: #FFFFFF;
padding: 10px 0 0 0;
font-size: 250%;
}

.Received img{
    height: 6vh;
}